.my-form {
    width: 33%;
    margin-left: 10%;
}

.site-signup {
    margin-left: 5%;
}
.my-left {
    font: serif;
    font-size: 20px;
    margin-left: 120%;
    margin-top: -100%;
    width: 350px;
}
.site-login {
    margin-left: 25%;
    width: 33%;
}
.but {
    width: 100%;
}
.dropdown-create {
    width: 400px;
    margin-left: 100px;
}
span {
    color: #337ab7;
}
.my-200 {
    width: 100%;
    height: 36px;
    color: #747474;
    background-color: #fdfdf6;
    border-color: #747474;
}
.my-200:hover,
.my-200:focus,
.my-200.focus,
.my-200:active,
.my-200.active,
.open > .dropdown-toggle.my-200 {
    color: #f3dc0f;
    background-color: #000000;
    border-color: #f3dc0f;
}
#left-menu {
    margin-left: 10%;
    width: 20%;
    margin-top: 30px;
}
#personal-info {
    margin-left: 32%;
    margin-top: -185px;
}
p {
    height: 20px;
}
#create-adv {
    margin-left: 10%;
}
h1 {
    margin-top: 0px;
    margin-bottom: 25px;
}
.btn-cr-adv {
    margin-top: 10px;
    width: 80%;
    height: 80px;
    font-size: 40px;
    color: #f3dc0f;
    background-color: #000000;
    border-color: #f3dc0f;
}
.btn-create:hover,
.btn-create:focus,
.btn-create.focus,
.btn-create:active,
.btn-create.active,
.open > .dropdown-toggle.btn-create {
    color: #000000;
    background-color: #f3dc0f;
    border-color: #000000;
}
.btn-create {
    color: #f3dc0f;
    background-color: #000000;
    border-color: #f3dc0f;
}
.sign-form {
    width: 40%;
    margin-left: 5%;
}
.info-left {
    margin-left: 50%;
    width: 30%;
    margin-top: -550px;
    font-size: 20px;
}
.lab {
    position: relative;
    float: left;
    width: 25%;
    margin-left: 10%;
}
.input {
    width: 90%;
    margin-left: 41%;
}
.update-but {
    margin-left: -2.67%;
    width: 106%;
}
#labels {
    width: 20%;
}
#update-inputs {
    width: 59%;
    margin-left: 24%;
    margin-top: -300px;
}
#left-labels {
    width: 20%;
}
.labels-p {
    width: 100%;
    text-align: right;
    height: 20px;
    margin-top: 7px;
    margin-bottom: 29px;
}
#h2-update {
    margin-left: 24%;
    margin-top: 10px;
    margin-bottom: 30px;
}

.mask-wrapper {
    height: 37px;
    margin-left: 5px;
    margin-top: 5px;
}
.mask-wrapper .send-file {
    padding: 3px 20px;
    margin-left: 3px;
    color: #fff;
    background-color: #ccc;
}
.mask-wrapper .fileInputText {
    position: relative;
    width: 133px;
    top: 3px;
}
.custom-file-input {
    width: 252px;
    opacity: 0;
    filter: alpha (opacity=0);
    position: relative;
    top: -27px;
    left: -16px;
    z-index: 99999;
    cursor: pointer;
}
.form-hide {

    width: 133px;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}

.my-wrap {
    min-height: 100%;
    height: auto;
    margin: 0 auto -60px;
    padding: 0 0 60px;
    width: 790px;
}
.my-container {
    width: 790px;
}